---
import "../styles/global.css";
import { UserDashboard } from "@/components/user-dashboard";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>User Dashboard</title>
    </head>

    <body class="bg-background text-foreground">
        <script>
            const userStr = localStorage.getItem("user");
            if (!userStr) {
                window.location.replace("/signin-page");
            }
        </script>

        <UserDashboard client:load />
    </body>
</html>
